/* FOOTER */
footer {
    background: $cor1;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    p {
        color: rgba(255,255,255,1);
        font-size: 14px;
        margin: 0;
        text-align: center;
    }

    &.fixed { position: fixed; }
}