/*****************************************/
/* CAROUSEL ******************************/
/*****************************************/
.carousel { 
	margin: 0 auto $espaco-margin;

	.carousel-inner {
		background-color: $cor5; 
		height: 100%;

		.carousel-item {
			padding-bottom: 50px;

			.item-texto {
				padding: 0 7%;
				
				p { padding: 0; }
			}

			p { 
				margin: $espaco-margin 0;
				padding: 0 7%;

				&:last-child { margin-bottom: 0; }
            }

			a, strong { color: #FFF; }
			
			a { text-decoration: underline; }
		}
	}
	
	/* INDICATORS */
	.carousel-indicators {
        display: flex;
		justify-content: center;
		bottom: 20px;
    	left: 30%;
		margin: 0;
		width: 40%;

		button {
			background-color: $cor1; 
			border: solid 2px transparent;
			border-radius: 50%;
			height: 20px;
			margin: 0 5px;
			padding: 0;
			position: relative;
			outline: none;
			width: 20px; 

			&.active { background-color: $cor3; }
		}
	}

	/* CONTADOR */
	.carousel-counter {
		color: $cor-texto;
		position: absolute;
		bottom: 20px;
    	right: 0;
		margin: 0;
		text-align: center;
		width: 10%;
		z-index: 10;
	}

	/* CONTROLS */
	.carousel-control-prev,
	.carousel-control-next {
		background-color: transparent;
		margin: 0;
		opacity: 1;
		padding: 0;
		position: absolute;
		top: 0;
		height: 100%;
		width: 5%;

		@include transition(all 0.4s);

		&:hover { 
			background: rgba(255,255,255,0); 
		
			.carousel-control-prev-icon,
			.carousel-control-next-icon {  background-color: $cor3; }
		}
	}

	.carousel-control-prev {
		.carousel-control-prev-icon {
			background-color: $cor1;
			background-size: 65%;
			border-radius: 50%;
			height: 3em;
			width: 3em;
			@include transition(all 0.4s);
		}
	}

	.carousel-control-next {
		.carousel-control-next-icon {
			background-color: $cor1;
			background-size: 65%;
			border-radius: 50%;
			height: 3em;
			width: 3em;
			@include transition(all 0.4s);
		}
	}

	&.moldura {
		margin-bottom: $espaco-margin + 30px;

		.carousel-inner { 
			border: solid 5px $cor3;
			border-radius: $radius-padrao;
			margin: 0 auto;
			width: 90%;

			.carousel-item { 
				padding: 20px 20px 30px; 

				.item-texto { padding: 0; }
			
				p { 
					padding: 0; 
				}
			}
		}
		
		/* INDICATORS */
		.carousel-indicators {
			background: $cor3;
			border-radius: $radius-padrao;
			padding: 8px;
			bottom: -15px;
			left: 50%;
			margin: 0;
			width: 10%;

			@include transform(translateX(-50%));
	
			button {
				&.active { background-color: transparent; border: solid 2px $cor1; }
			}
		}

		/* CONTADOR */
		.carousel-counter {
			background: $cor3;
			border-radius: $radius-padrao;
			bottom: -15px;
			color: $cor1;
			padding: 4px;
			right: 8%;
		}
	
		/* CONTROLS */
		.carousel-control-prev,
		.carousel-control-next { width: 10%; }
	}

	&.carousel-animado {
		.carousel-inner {
			background: rgba($cor1, 0.85);

			.carousel-item {
				position: relative;
				display: none;
				align-items: center;
				width: 100%;
				height: 100%; 
				min-height: 380px;
				padding: 0;
				opacity: 0;

				-webkit-backface-visibility: hidden;
						backface-visibility: hidden;
				-webkit-perspective: 1000px;
						perspective: 1000px;

				@include transition(all .6s ease);

				&.active { 
					display: flex;
					opacity: 1; 
					@include transform(translateX(0) translate3d(0, 0, 0));

					&.carousel-item-start, 
					&.carousel-item-end { 
						@include transform(translateX(0));
						opacity: 0; 
					}
				}

				.mask {
					display: flex;
					position: relative;
					margin: 0 auto;
					height: 100%;
					width: 86%;

					h3, h4, h5 {
						color: $cor5;
						letter-spacing:0.5px;
						margin: 0 0 $espaco-margin;

						-webkit-animation-fill-mode: both;
								animation-fill-mode: both;
						//@include animation(slideInDown 1.2s ease forwards);
					}
			
					p {
						color: $cor5;
						margin: 0 0 $espaco-margin;
						padding: 0;

						-webkit-animation-fill-mode: both;
								animation-fill-mode: both;
						//@include animation(slideInLeft 1.2s ease forwards);
					}
					
					a { 
						background: $cor3;
						color: #FFF;
						display:inline-block;
						padding: 8px 25px;
						text-decoration: none;

						-webkit-animation-fill-mode: both;
								animation-fill-mode: both;
						//@include animation(slideInUp 1.2s ease forwards);
						@include transition(all 0.6s);
					
						&:hover { 
							background: darken($cor3, 10); 
							text-decoration:none; 
						}
					}

					img {
						display: block; 
						height: auto; 
						max-width: 100%;

						-webkit-animation-fill-mode: both;
								animation-fill-mode: both;
						//@include animation(slideInRight 1.2s ease forwards);
					}
				}
			}
		}

		.carousel-control-prev {
			.carousel-control-prev-icon { background-color: $cor3; }
		}
	
		.carousel-control-next {
			.carousel-control-next-icon { background-color: $cor3; }
		}

		.carousel-item-prev { 
			display: block; 
			@include transform(translate3d(0, 0, 0));

			&.carousel-item-end { opacity: 1; }
		} 
		.carousel-item-next { 
			display: block; 
			@include transform(translate3d(0, 0, 0));

			&.carousel-item-start { opacity: 1; }
		} 

		@supports (transform-style:preserve-3d) {
			.carousel-item-left.active, 
			.carousel-item-next, 
			.carousel-item-prev, 
			.carousel-item-prev.active { @include transform(translate3d(0, 0, 0)); }
		}
	}

	@media #{$bp-tablet} {
		/* INDICATORS */
		.carousel-indicators {
			bottom: 10px;

			button {
				border: solid 1px transparent;
				height: 16px;
				margin: 0 3px;
				width: 16px; 
			}
		}

		/* CONTADOR */
		.carousel-counter {
			color: $cor-texto;
			bottom: 5px;
			width: 30%;
		}

		/* CONTROLS */
		.carousel-control-prev,
		.carousel-control-next {
			width: 8%;

			.carousel-control-prev-icon,
			.carousel-control-next-icon {
				height: 2.5em;
				width: 2.5em;
			}
		}

		// INNER
		.carousel-inner {
			.carousel-item {
				padding-bottom: 40px;
	
				.item-texto { padding: 0 10%; }

				p { padding: 0 10%; }
			}
		}

		&.moldura {
			/* INDICATORS */
			.carousel-indicators {
				left: 8%;
				min-width: 20%;
	
				@include transform(none);
		
				button {
					&.active { border: solid 1px $cor1; }
				}
			}
		}

		&.carousel-animado {
			.carousel-inner {
				.carousel-item {
					padding: 15px 0;
					min-height: 320px;
					
					.mask {
						display: flex;
						position: relative;
						margin: 0 auto;
						height: 100%;
						width: 78%;
					}
				}
			}
		}
	}

	@media #{$bp-phone} {
		/* INDICATORS */
		.carousel-indicators {
			button {
				height: 12px;
				width: 12px; 
			}
		}

		/* CONTROLS */
		.carousel-control-prev,
		.carousel-control-next {
			width: 10%;

			.carousel-control-prev-icon,
			.carousel-control-next-icon {
				height: 2em;
				width: 2em;
			}
		}

		// INNER
		.carousel-inner {
			.carousel-item {
				.item-texto { padding: 0 12%; }

				p { padding: 0 12%; }
			}
		}

		&.moldura {
			.carousel-indicators { min-width: 30%; }
		}

		&.carousel-animado {
			.carousel-inner {
				.carousel-item {
					padding: 25px 0;
					
					.mask { width: 74%; }
				}
			}
		}
	}
}